*, *:before *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    padding: 20px;
}

.borderSubBody {
    padding: 20px 0;
    position: relative;
    background: linear-gradient(#6D2A31, #3c0b14);
    padding: 10px;
    max-width: 100%;
}
.subBody {
    padding: 20px 0px;
    background-color: #f9d7c5;
    max-width: 100%;
}

.picTextContainer {
    padding-top: 30px;
    display: flex;
    align-items: center;
}

.picOfMe {
    border-radius: 50%;
    max-height: 300px;
    max-width: 300px;
    box-shadow: 5px 5px #3c0b14;
}

.h1 {
    font-size: 2.5rem;
    font-family: "Work Sans", sans-serif;
    color: #000000;
    text-shadow: 2px 2px #6D2A31;
}

.h2 {
    font-size: 2.5rem;
    font-family: "Work Sans", sans-serif;
    color: #000000;
    text-shadow: 2px 2px #6D2A31;
}

.gitIcon {
    filter:invert(100%);
}

.aboutMe {
    font-size: 1.5rem;
    font-family: "Source Sans Pro", sans-serif;
    color: #000000;
    padding-left: 30px;
}

@media screen and (min-width: 990px) {

}